@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&family=Roboto+Mono:wght@200&display=swap');

body {
    display: grid;
    
    background-color: black;
    background-image: url('../resources/background.jpeg');
    background-size: 1700px 1200px;


    background-position-x: -100px;
    background-repeat: no-repeat;
    
    grid-template-columns: [col0] 10px [col1] 25% [col2] 530px [col3] 20% [col4] 10px [col5] 250px [col6];
    grid-template-rows: [row0] 100px [row1] 400px [row2] 50px [row3] 50px [row4] 50px [row5] auto  [row6] auto; 

    grid-template-areas:  
        "headerArea headerArea headerArea headerArea headerArea headerArea headerArea"
        ". . . formArea . . ."
        ". logoArea . formArea . primaryButtonArea ."
        ". logoArea . formArea . . ."
        ". logoArea . formArea . secondaryButtonArea ."
        ". logoArea . formArea . . ." 
        ". logoArea . formArea . . ."
        "tableArea tableArea tableArea tableArea tableArea tableArea tableArea";
    
}

.modifyButtons {
    background-image: url('../resources/modify.png');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    display: block;
}

.deleteButtons {
    background-image: url('../resources/delete.png');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    display: block;
}

#logo {
    width: 300px;
    height: 300px;
    grid-area: logoArea;
    place-self: center;
}

#form {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
    padding-top: 30px;
    
    height: 80%;
    place-self: center;
    grid-area: formArea;
    background-color: #E7E9EB;
}

form, button {
    font-family: 'Azeret Mono', monospace;
}


#table {
    width: 95%;
    grid-area: tableArea;
    color: black;
    background-color: #E7E9EB;
    font-family: 'Roboto Mono', monospace;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
}


th {
    height: 20px;
}


.staticButtons {
    width: 250px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;

}



#primaryButton {
    grid-area: primaryButtonArea;
    justify-self: center;
    background-color: #42B72A;
    color: white;
    border-color: #42B72A;
    width: 200px;
    height: 40px;
   
    
}

#secondaryButton {
    grid-area: secondaryButtonArea;
    justify-self: center; 
    width: 180px;
    height: 30px;
}

label {
    margin-top: 25px;
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}


select {
    margin-bottom: 20px;
    padding: 5px;
    width: 215px;
    height: 40px;
    border-radius: 5px;
}



