/**
 * Styling for the main body, where all the messages and the header are
 * - Defines flexbox display style and direction
 */
body {
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    height: 50vw;
    align-content: flex-start;
}

/**
 * Header form styles (message input form)
 */
header {
    background-color: blueviolet;
    width: 20%;
    height: fit-content;
    border-radius: .5em;
    margin: .5em;
}

form {
    padding: 1em;
    color: white;
}

textarea {
    width: 100%;
    height: 60px;
}

.header-btn{
    border-radius: 5px;
    background-color: #7e47ca;
    color: white;
    border-color: blueviolet;
}


/**
 * Message general styling (for each message)
 */
message{
    box-sizing: border-box;
    background-color: blueviolet;
    width: 20%;
    height: fit-content;
    border-radius: .5em;
    margin: .5em;
    padding: 1em;
    color: white;
}
message p{
    margin: 0;
    background-color: #9c71db;
}