{{#data}}
    <div class="card">
        <div class="card__username">{{ userame }}</div>
        <div class="card__content">{{ content }}</div>
    </div>
{{/data}}

<style>
    .card {
        max-width: 400px;
    }

    .card__username {
        font-family: var(--font-family-secondary);
        font-size: var(--font-size-lg);
        margin-bottom: 1rem;
    }
</style>
