{{#data}}
    <div class="message {{ class }}">
        <div class="message__card card">
            <button class="message__delete" onclick="deleteMessage('{{ id }}', hash)">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v10zM18 4h-2.5l-.71-.71c-.18-.18-.44-.29-.7-.29H9.91c-.26 0-.52.11-.7.29L8.5 4H6c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1z"/></svg>
            </button>
            <div class="message__username">{{ username }}</div>
            <div class="message__content">{{ content }}</div>
        </div>
        <small>{{ timeString }}</small>
    </div>
{{/data}}

<style>
    .message.owned {
        margin-left: 80px;
    }

    .message .message__card {
        position: relative;
        width: 320px;
        padding: 1rem 1.25rem;
        background: var(--background-tertiary);
    }

    .message.admin .message__card {
        background: var(--accent-primary);
    }

    .message .message__delete {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        display: none;
        background: none;
        box-shadow: none;
        fill: var(--color-primary);
        padding: 0.5rem 0.5rem;
    }

    .message .message__delete:focus {
        background: rgba(0, 0, 0, 0.15);
    }

    .message.owned .message__delete {
        display: flex
    }

    .message .message__username {
        font-family: var(--font-family-secondary);
        font-size: var(--font-size-xl);
        margin-bottom: 0.75rem;
    }

    .message small {
        font-size: var(--font-size-sm);
        float: left;
        margin: 0.25rem 0.25rem 0;
    }

    .message.owned small {
        float: right;
    }
</style>
