:root {
    --animation: var(--transition-duration) var(--transition-timing-function) var(--transition-delay) forwards;
}

/* TEXTURE */
#texture {
    animation: texture-shrink var(--animation);
}

@keyframes texture-shrink {
    to {
        width: 30%
    }
}

/* HEADINGS */
h1 {
    animation: h1-shrink var(--animation);
}

@keyframes h1-shrink {
    to {
        font-size: var(--font-size-xl);
        margin-top: var(--font-size-xxl);
    }
}

h2 {
    animation: h2-fade var(--animation);
}

@keyframes h2-fade {
    to {
        opacity: 0;
        font-size: calc(var(--font-size-md) * 0.33);
    }
}
