body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TEXTURE */
#texture {
    position: absolute;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;
    background: var(--accent-primary);
    z-index: -1;
}

#texture img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    object-fit: cover;
    object-position: right;
}

.joined #texture {
    width: 30%
}

.loaded #texture {
    transition: all var(--transition-duration) var(--transition-timing-function);
}

/* HEADINGS */
h1 {
    font-family: var(--font-family-secondary);
    text-align: center;
    font-size: var(--font-size-xxl);
    margin: calc(var(--font-size-xxl) * 2) 0 1rem;
}

.joined h1 {
    font-size: var(--font-size-xl);
    margin-top: var(--font-size-xxl);
}

h2 {
    text-align: center;
    font-size: var(--font-size-md);
    margin-bottom: var(--font-size-xxl);
}

.joined h2 {
    font-size: calc(var(--font-size-md) * 0.33);
    opacity: 0;
}

/* JOIN BOX */
#join-box {
    width: 320px;
    background: var(--background-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-down);
    padding: 1.5rem 2rem;
}

#join-box .title {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-xl);
    margin-bottom: 1rem;
}

#join-box .subtitle {
    margin-bottom: 2rem;
}

#join-box .subtitle strong {
    font-weight: 500;
}

.joined #join-box {
    opacity: 0;
    margin-top: 100vh;
    transform: scale(0.33);
}

/* CHAT */
#chat {
    opacity: 0;
}

.joined #chat {
    opacity: 1;
}

/* TRANSITIONS */
.loaded #texture, .loaded h1, .loaded h2, .loaded #join-box, .loaded #chat {
    transition: all var(--transition-duration) var(--transition-timing-function);
}

/* BUTTONS */
button {
    background: var(--accent-primary);
    box-shadow: var(--box-shadow-down);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    float: right;
}

button:focus {
    background: var(--accent-secondary);
}
