/* TEXTURE */
#texture {
    position: absolute;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;
    background: var(--accent-primary);
    z-index: -1;
}

#texture img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    object-fit: cover;
    object-position: right;
}

.joined #texture {
    width: 30%
}

/* HEADINGS */
h1 {
    font-family: var(--font-family-secondary);
    text-align: center;
    font-size: var(--font-size-xxxl);
    margin-bottom: 1rem;
}

.joined h1 {
    font-size: var(--font-size-xxl);
    margin: 0;
}

h2 {
    text-align: center;
    font-size: var(--font-size-md);
    margin-bottom: var(--font-size-xxxl);
}

.joined h2 {
    font-size: calc(var(--font-size-md) * 0.33);
    opacity: 0;
}

/* ACTIONS */
#actions {
    position: absolute;
    top: 2rem;
    left: 2rem;
    margin-left: -10rem;
    display: flex;
    flex-direction: column;
    transition: margin-left var(--transition-duration) var(--transition-timing-function);
}

#actions button {
    width: 100%;
    display: flex;
    align-items: center;
}

#actions button:first-child {
    margin-bottom: 1rem;
    background: var(--color-primary);
    color: var(--accent-primary);
    fill: var(--accent-primary);
}

#actions button:first-child:focus {
    background: var(--background-primary)
}

#actions button:last-child {
    background: none;
    fill: var(--color-primary);
    box-shadow: inset 0 0 0 2px white;
}

#actions button:last-child:focus {
    background: rgba(255, 255, 255, 0.15)
}

#actions button svg {
    margin-right: 0.5rem;
}

.joined #actions {
    margin-left: 0;
}

/* JOIN */
#join {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#join .join__card {
    position: absolute;
    width: 320px;
    display: flex;
    flex-direction: column;
}

.joined #join .join__card {
    opacity: 0;
    margin-top: 100vh;
    transform: scale(0.33);
}

#join .join__card .title {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-xxl);
    margin-bottom: 1rem;
}

#join .join__card .subtitle {
    margin-bottom: 1.5rem;
}

#join .join__card .subtitle strong {
    font-weight: 500;
}

#join .join__card form {
    display: flex;
    flex-direction: column;
}

#join .join__card small {
    font-size: var(--font-size-sm);
    margin-bottom: 0.25rem;
}

#join .join__card input {
    margin-bottom: 0.75rem;
}

#join .join__card button {
    margin-top: 0.75rem;
    margin-left: auto;
}

/* CHAT */
#chat {
    min-width: 480px;
    opacity: 0;
    height: 100%;
    overflow: hidden;
    transform: translateY(100vh);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}

.joined #chat {
    opacity: 1;
    transform: none;
}

#chat .chat__rooms {
    margin: 0 var(--border-radius) calc(-1 * var(--border-radius));
    display: flex;
    z-index: 101;
}

#chat .chat__rooms .chat__room {
    min-width: calc((480px - var(--border-radius) * 2) / 4);
    box-sizing: border-box;
    padding: 0.75rem 1rem calc(0.75rem + var(--border-radius));
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-lg);
    box-shadow: var(--box-shadow-down);
    background: var(--accent-primary);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: flex;
    justify-content: center;
}

#chat .chat__rooms .chat__room:not(.active) {
    opacity: 0.5;
    background: var(--background-secondary);
}

#chat .chat__messages {
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
    box-shadow: var(--box-shadow-down);
    background: var(--background-secondary);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 102;
}

.rendered #chat .chat__messages {
    scroll-behavior: smooth;
}

#chat .chat__input {
    padding: 1rem;
    background: var(--background-secondary);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--box-shadow-up);
    transition: margin-bottom var(--transition-duration) var(--transition-timing-function);
    z-index: 103;
}

#chat .chat__input.poll {
    margin-bottom: -275px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#chat .chat__input .input__bottom {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}


#chat .chat__input.poll .input__bottom {
    margin-top: 8px;
}

#chat .chat__input.default input {
    width: 100%;
}

#chat .chat__input.default.disabled {
    margin-bottom: -72px;
}

#chat .chat__input.poll.enabled {
    margin-bottom: 0;
}

/* TRANSITIONS */
#texture, h1, h2, #join .join__card, #chat {
    transition: all var(--transition-duration) var(--transition-timing-function);
}
